 

  <div class="container ">
    <hr>
    <div class="row" *ngFor="let c of cadastros ">
      <div class="col"></div>
      <div class="col-5" style="padding-bottom: 3%;">
        <div class="card " style="width: 18rem;">
            <img src="../../assets\img\ongs\pibot.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Informação ONG</h5>
              <p class="card-text">Aqui está uma das nossas ongs cadastradas.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ c.id }}</li>
              <li class="list-group-item">Nome: {{ c.nome }}</li>
              <li class="list-group-item">Endereço: {{ c.endereco }}</li>
              <li class="list-group-item">Telefone: {{ c.telefone }}</li>
              <li class="list-group-item">Email: {{ c.email }}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link btn btn-primary">Doar</a>
              <a href="#" class="card-link btn btn-primary">Informação</a>
            </div>
          </div>

      </div>
      <div class="col"></div>
    </div>
    <hr>
  </div>
