<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap" rel="stylesheet">
<header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1>Como podemos ajudar?</h1>
                    <br>
                    <p>Nosso site é uma fonte de arrecadação e doação para pessoas, instituições e municípios privadas ou estaduais que estejam necessitando de suprimentos ou verba a fim de suprir as necessidades do solicitante. O diferencial do UniDonate é
                        a abrangência de tipos de recursos recebidos.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto" style="padding-top: 10px;">
                <hr class="new5">
                <h2 class="section-heading">Por que devemos ajudar ?</h2>
                <p>O ato de doar contribui efetivamente com a transformação para o melhor da sociedade, das instituições e, principalmente das pessoas. Ao enxergar as necessidades do próximo e fazer algo para supri-las, nos tornamos mais justos e igualitários.</p>
                <hr class="new5">
                <h2 class="section-heading" style="padding-bottom: 10px;">Curiosidades: </h2>
                <p> - Nas últimas três décadas o número de catástrofes aumentou significativamente, tendo a taxa de desastres aumentada de 50 para 400 por ano. Para os próximos 50 anos, é esperado que esta taxa torne-se cinco vezes maior(Thomas & Kopczak,
                    2007). <a href="https://www.scielo.br/pdf/prod/v25n4/0103-6513-prod-0103-6513147513.pdf">Fonte</a>

                </p>
                <img class="img-fluid" src="../../assets/img/portfolio/dmc.png">
                <span class="caption text-muted"><br></span>
                <p style="padding-bottom: 10px;">- Você pode salvar moradores de rua contra o frio intenso durante a noite e nos períodos de menor temperatura, doando agasalhos, cobertores e roupas. E você pode fazer isso por aqui mesmo através de um clique no ícone das Roupas! Volte
                    para o topo e saiba como fazê-lo.</p>
                    <hr class="new5">
            </div>
            
        </div>
    </div>
</article>
<hr>
<div class="bg-dark" style="padding-top: 20px;">
    <hr>
    <footer class="footer text-center espaco ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase text-light mb-4">Localização</h4>
                    <p class="text-light">2000 BURITIS <br>Belo Horizonte, MG 3000-000</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase text-light">LINKS :</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" width="30px" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" width="30px" role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" width="30px" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4 text-light">SOBRE O UNIDONATE</h4>
                    <p class="lead mb-0 text-light"><span>Não temos nenhuma relação governamental.&nbsp;</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;UNIDONATE 2020</small></div>
    </div>
    </div>