
  <div class="container" style="padding-bottom: 5%;"> 
    <div class="row" style="padding-top: 4%;">

      <div class="col-4 border rounded" style="padding-top: 10px; padding-bottom: 10px;" ><h3 class="text-uppercase font-weight-bold" >Cadastro ONG</h3>
        <form>
            <div class="form-row" style="padding-top: 10px;">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nome</label>
                <input type="email" class="form-control"  [(ngModel)]="request2.nome" name="nome" id="inputEmail4" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">CNPJ</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="request2.cnpj" name="cnpj" placeholder="CNPJ">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Endereço</label>
              <input type="text" class="form-control" id="inputAddress" [(ngModel)]="request2.endereco" name="endereco" placeholder="Rua unidonate ">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Telefone</label>
              <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="request2.telefone" name="telefone" placeholder="">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Email</label>
              <input type="text" class="form-control" id="inputAddress2"  [(ngModel)]="request2.email" name="email" placeholder="Endereço de Email">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Lembrar-me
                </label>
              </div>
            </div>
            <button type="submit" (click)="save2()" onclick="alert('Cadastro feito');" class="btn btn-dark">Cadastrar</button>
          </form>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-4 border rounded" style="padding-top: 10px; padding-bottom: 10px;" ><h3 class="text-uppercase font-weight-bold" >Cadastro USUÁRIO</h3>
        <form>
            <div class="form-row" style="padding-top: 10px;">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nome</label>
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="request.nome" name="nome" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="request.senha" name="senha"  placeholder="Senha">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">CPF</label>
              <input type="text" class="form-control" [(ngModel)]="request.cpf" id="inputAddress" name="cpf"  placeholder="CPF">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Telefone</label>
              <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="request.telefone" name="telefone"  placeholder="">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Email</label>
              <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="request.email" name="email"  placeholder="Endereço de Email">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Lembrar-me
                </label>
              </div>
            </div>
            <button type="submit" (click)="save()" onclick="alert('Cadastro feito');" class="btn btn-dark">Cadastrar</button>
          </form>
      </div>


    </div>
   
      <div class="col">
      </div>
  </div>