
  <div class="container" style="padding-bottom: 5%;"> 
    <div class="row" style="padding-top: 4%;">

      <div class="col-4 border rounded" style="padding-top: 10px; padding-bottom: 10px;" ><h3 class="text-uppercase font-weight-bold" >Cadastro ONG</h3>
        <form>
            <div class="form-row" style="padding-top: 10px;">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nome</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">CNPJ</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="CNPJ">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Endereço</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Rua unidonate ">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Telefone</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Email</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Endereço de Email">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Lembrar-me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-dark">Cadastrar</button>
          </form>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-4 border rounded" style="padding-top: 10px; padding-bottom: 10px;" ><h3 class="text-uppercase font-weight-bold" >Cadastro USUÁRIO</h3>
        <form>
            <div class="form-row" style="padding-top: 10px;">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nome</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">CPF</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="CPF">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Telefone</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Email</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Endereço de Email">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Lembrar
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-dark">Cadastrar</button>
          </form>
      </div>


    </div>
    <div class="row" style="padding-top: 5%;">
      <div class="col">
      </div>
        <div class="col-5 border rounded" style="padding-top: 10px; padding-bottom: 10px;" ><h3 class="text-uppercase font-weight-bold" >CADASTRO DOAÇÃO</h3>
          <form>
              <div class="form-row" style="padding-top: 10px;">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Tipo de doação</label>
                  <select id="inputState" class="form-control">
                    <option selected>Escolha...</option>
                    <option>ALIMENTOS</option>
                    <option>DINHEIRO</option>
                    <option>ROUPAS</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Quantidade: </label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Quantidade">
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    Quantidade de acordo com o produto.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Descrição</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="inputAddress2">Nome da Organização:</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apae, Greepeace, ...">
              </div>
            
              <button type="submit" class="btn btn-dark">DOAR</button>
            </form>
        </div>

      <div class="col">
      </div>
  </div>